#top {
  height: 400px;
  width: 100%;
  background-color:#0059b8;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

#pic {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
#name {
  display: flex;
  color:seashell;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  #top {
  height: 350px;  
  margin-top: 200px;
  margin-left: 50px;
  width: 30%;
  }
 #pic {
  margin-top: 15px;
 }
 #name {
  margin-top: 0px;
 }
}
