#tweet-text {
background-color: #f4f1ec;
width: 100%;
height: 40px;
border-style: hidden;
border-bottom-style: solid;
border-width: 5px;

}

.tweetCount {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
#error{
  border-style: solid;
  border-color: red;
  color: red;
}
button {
  background-color: royalblue;
  color: seashell;
  font-family: 'Bungee', cursive;
  margin-top: 17px;
}
#counter {
  font-family: 'Bungee', cursive;
  color: black;
}


